# Virtual environments
tecvenv/
.venv/
venv/

# Node modules
node_modules/
frontend/node_modules/
frontend/dist/

# Local data
chroma_db/
backend/chroma_db/
storage/
backend/storage/
sample_data/

# Git & IDE
.git/
.gitignore
.vscode/
.idea/

# Env files
.env
.env.*

# Docs
*.md
dev-checklist.md

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# OS
.DS_Store
Thumbs.db
